<p id="notice"><%= notice %></p>

<h1>Page Views</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Referrer</th>
      <th>Hash</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_views.each do |page_view| %>
      <tr>
        <td><%= page_view.url %></td>
        <td><%= page_view.referrer %></td>
        <td><%= page_view.hash %></td>
        <td><%= page_view.created_at %></td>
        <td><%= link_to 'Show', page_view %></td>
        <td><%= link_to 'Edit', edit_page_view_path(page_view) %></td>
        <td><%= link_to 'Destroy', page_view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page View', new_page_view_path %>
